app/install
app/tmp/debug.log
/node_modules
/vendor
/dist
/build
.env
composer.lock
package-lock.json
desktop.ini
npm-debug.log
yarn-error.log
yarn.lock
tmp/
tmp/logs/app.log
tmp/logs/app.log
_notes/dwsync.xml
*/_notes/dwsync.xml
