/node_modules
/public/hot
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.xml
*.zip
/_notes
composer.lock
package-lock.json
public/storage/page/*
public/storage/profile/*
public/storage/group/*
