<!DOCTYPE html>
<!--
/**
 * @package       IronPHP Application
 * @auther        GaurangKumar Parmar <gaurangkumarp@gmail.com>
 */
-->
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>IronPHP: The PHP Framework</title>

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="favicon.ico" type="image/x-icon" rel="shortcut icon">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Raleway:500i|Roboto:300,400,700|Roboto+Mono" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <header class="style">
        <img src="logo.png" alt="IronPHP" width="100">
        <h1>{{name}} {{version}}</h1>
    </header>
    <h1 style="font-size:50px">The PHP Framework</h1>
    <h3 style="text-align:center">
        Developed and Maintained By <a href="https://twitter.com/gaurangkumarp" title="GaurangKumar on Twitter">GaurangKumar</a>
        On
        <a href="https://github.com/ironphp/ironphp" title="IronPHP on GitHub">
            <i class="fab fa-1x fa-github"></i> Github
        </a>
    </h3>
    <h3 style="text-align:center">
        Follow us on <a href="https://www.facebook.com/IronPHP-Framwork-325690624644002/" title="IronPHP on Facebook">
        <i class="fab fa-1x fa-facebook"></i> Facebook
        </a>
    </h3>
</body>
</html>
