@charset "utf-8";
/* CSS Document */
/*
.status_carousel {
  margin-top:50px;
}
.send-btn_status {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff !important;
  background-color: #FFA977 !important;
  margin-left: 15px;
  font-size: 22px;
}
.status_telegram {
  color: #fff;
}
.send-btn_status:focus {
  box-shadow: none !important;
  border-color: #ffa977 !important;
}
.status_contactclose {
  float: right;
  left: 95%;
  right: 0px;
  position: relative;
  top: 1%;
}
.status-active{
  border: 4px solid #650681;
}
*/

/*-----------------
  5. Status
-----------------------*/

/*
.status-title {
  font-size: 16px;
  font-weight: 600;
  color: #888;
  margin-bottom: 20px;
}
.carousel-indicators li {
  border: 0;
  background-color: rgba(24, 28, 47, 0.32);
  width: 165px;
  height: 10px;
  border-radius: 50px;
}
.carousel-indicators li.active {
  background-color: rgba(255, 169, 119, 0.84);
}
.status-message {
  display: flex;
  align-items: center;
  width: 770px;
  margin: 50px auto 0;
}
.status-message .form-control {
  background-color: rgba(24, 28, 47, 0.32);
  border-radius: 50px;
  border: 0;
  height: 52px;
  padding: 10px 20px;
  margin-right: 15px;
  color: #fff;
}
.status-message .form-buttons .btn.send-btn {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff !important;
  background-color: #FFA977;
  font-size: 22px;
  box-shadow: unset;
}
.status-modal button.close {
  font-size: 34px;
  margin: 20px 20px 20px auto;
  text-align: right;
  width: 34px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
body.custom-model-open .main-wrapper {
  -webkit-filter: blur(32px);
  -moz-filter: blur(32px);
  -ms-filter: blur(32px);
  -o-filter: blur(32px);    
  filter: blur(32px);
}
body.custom-model-open .modal-backdrop.show {
  background-color: #fff;
  opacity: .2;
}
.status-modal .modal-dialog {
  max-width: 100%;
  padding: 20px;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
}
.status-modal .modal-dialog .modal-content {
  border: 0;
  background-color: transparent;
  height: 100%;
  flex-direction: inherit;
  -webkit-flex-direction: inherit;
  align-items: center;
  -webkit-align-items: center;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.status-modal .modal-dialog .modal-content .inner-popup{
  margin: 0 auto;
}
.status-modal .custom-status-close{
  text-align: right;
  opacity: 1;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  text-shadow: none;
  z-index: 9;
}
.status-modal .carousel-indicators{
  top: -30px;
}
.bottom-message-col{
  max-width: 840px;
  width: 100%;
  margin: 0 auto;
}
*/

/*
 ----------
 */

/*
.chat_status {
  display: flex;
  display: -webkit-flex;
}
.bottom-message-col .form_status {
  border-radius: 24px;
  background-color: #d9dadd ;
  height: 48px;
  padding: 10px 25px;
  color: #000;
  width: 100%;
  font-size: 14px;
}
.status_content {
  z-index: 4000;
  position: fixed;
  top: 40%;
  left: 60%;
}
.status_content_h3 {
  z-index: 4000;
  position: fixed;
  top: 65%;
  left: 45%;
}
.status_update {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
}
.status_update + div{
  -webkit-filter: blur(32px);
  -moz-filter: blur(32px);
  -ms-filter: blur(32px);
  -o-filter: blur(32px);    
  filter: blur(32px);
}
*/

/*
 ----------
 */

/*
@media screen and (max-width: 1200px) {
  .profile_wrap{
    width: 320px !important;
  }
  .status_content_h3 {
    font-size: 24px;
  }
  .sidebar-group.mobile-open {
    opacity: 1;
    right: 0;
    visibility: visible;
  }
  .right-sidebar{
    margin-right: -320px;
  }
}
@media screen and (max-width: 991.98px) {
  body {
    font-size: 13px;
  }
  .main-wrapper .content {
    flex-flow: column wrap;
  }
  .main-wrapper .content .sidebar-group {
    width: 100%;
  }
  .chat, 
  .right-sidebar {
    display: none;
    width: 100%;
  }
  .main-wrapper .content .sidebar-group .sidebar {
    width: 100%;
  }
  .right-sidebar .sidebar-body .pl-4, 
  .right-sidebar .sidebar-body .pr-4 {
    padding: 0 !important;
  }
  .search_chat {
    padding: 0px 15px 0px 0px;
    margin: 30px 0 0px 15px;
  }
  .sidebar-body {
    padding: 10px 15px;
  }
  .header {
    padding: 15px 15px;
    height: 130px;
    overflow: initial;
    background-color: #650681;
    background-image: none;
  }
  .header-top{
    margin-bottom: 20px;
  }
  .header_button{
    bottom: -18px;
  }
  .nav.nav-tabs.chat-tabs .nav-item .nav-link,
  .nav.nav-tabs.chat-tabs .nav-item .nav-link.active {
    font-size: 14px;
    padding-right: 8px;
  }
  .chat .chat-header {
    padding: 15px 15px 10px;
  }
  .chat .chat-body {
    padding: 20px 15px 58px;
  }
  .chat .chat-header .chat-options {
    margin-top: 15px;
    margin-left: 35px;
  }
  .chat .chat-body .messages .chats {
    margin-bottom: 1rem;
  }
  .status_update{
    display: none;
  }
  .chat .chat-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px 15px;
    height: 58px;
    top: inherit;
  }
  .contact_profile_icon {
    top: 44px;
    left: 50px;
  }
  .right-sidebar {
    width: 100%;
    padding-right: 0;
  }
  body .sidebar-group .sidebar .list-group-item .users-list-body h5 {
    font-size: 16px;
  }
  .chat .chat-header .user-details h5 {
    font-size: 19px;
  }
  .chat .chat-body .messages .chats {
    max-width: 100% ;
  }
  .account-page .container-fluid{
    height: 100%;
  }
  .account-page .container-fluid > div{
    align-items: center;
    -webkit-align-items: center;
    height: 100%;
  }
  .left-sidebar.hide-left-sidebar{
    margin-left: -991px;
  }
  .chat.show-chatbar{
    display: block;
    margin-left: 0;
  }
  .chat.hide-chatbar{
    margin-left: -991px;
    display: none;
  }
  .right-sidebar.hide-right-sidebar{
    margin-right: -991px;
  }
  .right-sidebar.show-right-sidebar{
    display: block;
  }
  .contact-close_call{
    margin-right: 15px !important;
  }
}
@media screen and (max-width: 767.98px) {
  .main-wrapper {
    overflow: auto;
  }
  .login-right {
    margin-bottom: 40px;
  }
  .search_chat {
    margin-left: 15px;
  }
  .chat .chat-header {
    display: block;
  }
  .chat .mob-auto{
    max-width: 25%;
  }
  .avatar-group {
    padding-top: 20px;
    padding-left: 35px;
  }
  .status-title {
    margin-left: 0 !important;
  }
  .carousel-control-prev-icon, 
  .carousel-control-next-icon {
    font-size: 25px;
  }
  .status-modal .modal-dialog {
    padding: 20px 10px;
  }
  .carousel-control-prev {
    left: -25px;
  }
  .carousel-control-next {
    right: -25px;
  }
  .send-btn_status {
    width: 48px;
    height: 48px;
    margin-left: 8px;
    font-size: 20px;
  }
  .status-modal .modal-dialog .modal-content .inner-popup {
    padding: 0 10px;
  }
  .missed-call-widget .card-body,
  .other-call-widget .card-body {
    padding: 30px 8px;
  }
  .avatar-group.group-col {
    padding-top: 0;
    padding-left: 15px;
  }
  .missed-call-widget .card-body h6, 
  .other-call-widget .card-body h6 {
    font-size: 13px;
  }
}
*/

/*
 * full width model
 */
    .modal-dialog-full-width {
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        max-width:none !important;

    }

    .modal-content-full-width  {
        height: auto !important;
        min-height: 100% !important;
        border-radius: 0 !important;
        background-color: #ececec !important 
    }

    .modal-header-full-width  {
        /*border-bottom: 1px solid #D3D3D3 !important;*/
    }

    .modal-footer-full-width  {
        /*border-top: 1px solid #D3D3D3 !important;*/
    }
