figure
 figcaption Example DOM structure diagram
 ul(class='tree')
  li
   code html
   ul
    li
     code head
     ul
      li
       code title
    li
     code body
     ul
      li
       code header
       ul
        li
         code h1
        li
         code p
      li
       code nav
       ul
        li
         code a
        li
         code a
        li
         code a
        li
         code a
      li
       code main
       ul
        li
         code h1
        li
         code article
         ul
          li
           code h2
          li
           code p
          li
           code p
      li
       code aside
       ul
        li
         code h2
        li
         code p
        li
         code p
         ul
          li
           code a
      li
       code footer
       ul
        li
         code nav
         ul
          li
           code a
          li
           code a
          li
           code a
          li
           code a

figure 
 figcaption Example sitemap
 ul(class='tree')
  li
   span Home
   ul
    li
     span About us
     ul
      li
       span Our history
       ul
        li
         span Founder
      li
       span Our board
       ul
        li
         span Brad Whiteman
        li
         span Cynthia Tolken
        li
         span Bobby Founderson
    li
     span Our products
     ul
      li
       span The Widget 2000™
       ul
        li
         span Order form
      li
       span The McGuffin V2
       ul
        li
         span Order form
    li
     span Contact us
     ul
      li
       span Social media
       ul
        li
         span Facebook

p
  a(href='https://medium.com/@ross.angus/sitemaps-and-dom-structure-from-nested-unordered-lists-eab2b02950cf' target='_blank') Full writeup